@model DtoPatent
@{
    ViewData["Title"] = "GetPatent";
    Layout = "~/Views/Shared/_patentLayout.cshtml";
}
<h2>Obter patente pelo Id neste banco</h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Obter Patente</button>
    </div>
</form>
@if (Model != null)
{
    <h2>Patent</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Título</th><th>Número</th><th>Data</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.PatentId</td>
                <td>@Model.PatentTitle</td>
                <td>@Model.PatentNumber</td>
                <td>@Model.PatentDate</td>
            </tr>
            <tr><td>Claims</td><td>@Model.PatentClaims</td></tr>
        </tbody>
    </table>
}

